*{
    margin: 0;
    padding: 0;
}

.content{
   position: "absolute"; 
   transform: translate(0%, -90%);
   color: #ffffff;
   border-radius: 10px;
}

.drow{
    flex-wrap: wrap;
  }

.dcol img{
  height: 350px;
  width: 95%;
}

@media screen and (max-width: 880px) {
    .drow{
      flex-direction: column; 
      align-items: center;
    }
  }


  



