.slider {
    overflow: hidden;
    margin-left: 200px;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition effect for card movement */
    width: calc(19rem * 7); /* Width of four cards */
  }
  
  .slider-container li {
    list-style: none;
    width: 19rem; /* Width of each card */
  }

  .round {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%; /* Make it round */
    background-color: #6b6d70; /* Default background color */
    border: 2px solid transparent; /* Border color */
    cursor: pointer;
  }
  
  .round.active {
    background-color: #000; /* Active round indicator color */
  }

  .scroll{
    float: right;
    margin-right: 300px;
  }

  @media screen and (max-width: 880px) {
    .slider{
      margin-right: 15px;
    }
  }

  
  @media screen and (max-width: 491px) {

 .scroll{

  margin-right: 50px;
}

.slider {
 
  margin-left: 80px;
}

 
  }